@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

body {
  padding: 0px;
  margin: 0px;
  background-color: #fce2e5;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #bbd5f2;
  height: 70px;
  width: 100%;
  z-index: 1;
}

.header img {
  width: 170px;
  height: 100%;
}

.header h1 {
  font-family: "Cookie", cursive;
  font-size: 60px;
  margin-top: 5px;
}

.menu {
  margin-right: 30px;
  padding: 0px;
  margin-top: 25px;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  padding: 8px;
  border: 2px solid #fff;
  margin-left: 30px;
  background-color: #fff;
}

.menu a:hover {
  background-color: #bbd5f2;
}

.menu a:link {
  color: #000;
}

.menu a:visited {
  color: #000;
}

.biography {
  background-color: #bcdad2;
  text-align: center;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  font-size: 20px;
}

.biography p {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

.biography img {
  width: 350px;
  height: 250px;
  display: flex-horizontal;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.3);
}
